@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt, #__layout, html, body {
  height: 100% !important;
  width: 100% !important;
}

@font-face {
  font-family: "ES Rebond Grotesque TRIAL";
  src: local("Grotesque"), url("/fonts/ESRebondGrotesqueTRIAL-Semibold.otf");
}
